<server>

    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080">
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>
     <webApplication contextRoot="/" id="swaggerautomationservice" location="SwaggerParser-0.0.1-SNAPSHOT.war" name="swaggerautomationservice" />
</server>
